/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 8px;
    top: 7px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background:black;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: black;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 36px !important;
    width: 36px !important;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 50% !important;
    margin-top: -24px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2em 1em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }