.explore {
  width: 100%;

  &__grid {
    width: 500px;
  }

  &__share-button {
    margin: 0px 10px;
  }

  &__buttons {
    margin: 10px 0px;
    width: 250px;
  }

  &__dropdown {
    justify-content: center;
    margin: 0px 15px;
    width: 200px;

    @media (max-width: $mq-l) {
      width: 175px;
    }

    @media (max-width: $mq-m) {
      width: 150px;
    }

    @media (max-width: $mq-s) {
      width: 200px;
    }
  }

  &__options-container {
    margin: auto;

    @media (max-width: $mq-s) {
      width: 200px;
    }
  }

  &__main-images {
    // height: 35vh;
    padding: 10px;
  }

  &__card-img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    // box-shadow: 0px 0px 3px gray;
    max-width: 300px;
    z-index: calc(#{$z-index-s} * -1);

    @media (max-width: $mq-xl) {
      max-width: 275px;
    }

    @media (max-width: $mq-m) {
      max-width: 250px;
    }

    @media (max-width: $mq-ss) {
      max-width: 225px;
    }
  }

  &__card-img-container {
    height: 25vh;
    outline: none;
  }

  &__slider {
    height: 25vh;
    overflow: visible;
  }

  &__grid-list-container {
    width: 100%;
  }

  &__grid_old {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 5.5rem;

    @media (max-width: $mq-l){
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mq-m){
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mq-s){
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mq-xs){
      grid-template-columns: repeat(2, 1fr);
    }

    // Overrides PaletteBox.jsx styles
    .ldbqQH {
      margin: 0;
      height: auto;
      width: auto;
      z-index: 99;
    }

    // Overrides PaletteBox.jsx styles
    .iznKJF {
      margin-bottom: -70px;
      margin-left: 0;
    }

    // Overrides PaletteBox.jsx BUTTON styles
    .StyledButton-sc-323bzc-0 {
      align-items: center;
      background-color: $color-shade-light;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: $button-size;
      width: $button-size;
    }
  }

  .dZUveh {
    padding: 0;
  }
}
