// -------------------------------------------------------------
// This file contains all styles related to the .nav component
// -------------------------------------------------------------
.nav {
  align-items: center;
  display: flex;
  height: $nav-unit;
  justify-content: space-between;
  padding: 5px 15px;

  @media (max-width: $mq-s) {
    margin-bottom: $space-s;
    height: $nav-unit-s;
  }

  &__link {
    align-items: center;
    display: flex;
    height: inherit;
    left: 0;
    
    text-decoration: none;
    text-transform: uppercase;
    width: $nav-unit;

    color: black;

    &:visited {
      color: black;
    }

    img{
      height: 3rem;
      position: absolute;
      max-height: $nav-unit;
      @media (max-width: $mq-s) {
        max-height: $nav-unit-s;
      }
    }

    span {
      color: $color-text-light;
      font-family: $font-family-heading;
      font-size: 1rem;
      font-weight: $font-weight-black;
      line-height: 0.9; // Magic string, do not change
      max-width: 60px; // Magic string, do not change
      width: 100%;
    }
  }

  &__button {
    align-items: center;
    border: 1px solid $color-shade-dark;
    border-radius: 1.5rem;
    color: $color-shade-light;
    display: flex;
    height: 2.125rem;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    width: 15rem;
  }

  &__text {
    font-size: $font-l;
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    text-decoration: none;
    position: absolute;
  }

  &__image {
    margin-left: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}
