<html>
    <head>
        <meta property="og:image" content="{{ image_url }}" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
    </head>
    <body>
        <img src="{{ image_url }}" class="center" />
        <p>Make your own Mosaic <a href="{{ redirect_url }}">here</a>.</p>
    </body>
</html>