<html>
    <head>
        <meta property="og:image" content="{{ image_url }}" />
        <meta property="og:url" content="https://aka.ms/mosaic" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
    </head>
    <script>
        window.location = "{{ redirect_url }}"
    </script>
    <body>
        You are being redirected to Mosaic. Click <a href="{{ redirect_url }}">here</a> to be redirected...
    </body>
</html>